In [1]:
'''
Getting the ABDU model to work in notebook

EPSG: 5070
'''
import duckdb
import geopandas as gpd
import leafmap
from shapely import wkt
import pandas as pd
import pyarrow as pa
import geoarrow.pyarrow as ga
import geoarrow.pandas as _
import rasterio
from rasterio import mask
from shapely.geometry import shape

con = duckdb.connect()
con.install_extension("spatial")
con.load_extension("spatial")
con.install_extension("azure")
con.load_extension("azure")
con.install_extension("json")
con.load_extension("json")

In [2]:
gpd.__version__

'0.14.1'

In [3]:
'''
Read in AOI.  Need it projected as 4326 and 5070.  Unfortunately projecting isn't working smoothly for me and keeps providing infinite values.
'''
inaoifile = 'test.parquet'
#con.sql("CREATE TABLE aoi AS SELECT * FROM ST_READ('{0}')".format(inaoi))
inaoigpd = gpd.read_parquet(inaoifile)
inepsg = inaoigpd.crs.to_epsg()
inaoi = pd.read_parquet(inaoifile)
if inepsg == 5070:
    con.sql("CREATE OR REPLACE TABLE aoi5070 AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM inaoi")
    inaoi4326 = inaoigpd.to_crs(4326)
    inaoi4326['geometry'] = inaoi4326.to_wkb().geometry
    inaoi4326 = pd.DataFrame(inaoi4326)
    con.sql("CREATE OR REPLACE TABLE aoi4326 AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM inaoi4326")
elif inepsg == 4326:
    con.sql("CREATE OR REPLACE TABLE aoi4326 AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM inaoi")
    inaoi5070 = inaoi.to_crs(5070)
    inaoi5070['geometry'] = inaoi5070.to_wkb().geometry
    inaoi5070 = pd.DataFrame(inaoi5070)
    con.sql("CREATE OR REPLACE TABLE aoi5070 AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM inaoi5070")
else:
    inaoi5070 = inaoi.to_crs(5070)
    inaoi5070['geometry'] = inaoi5070.to_wkb().geometry
    inaoi5070 = pd.DataFrame(inaoi5070)
    con.sql("CREATE OR REPLACE TABLE aoi5070 AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM inaoi5070")
    inaoi4326 = inaoi.to_crs(4326)
    inaoi4326['geometry'] = inaoi4326.to_wkb().geometry
    inaoi4326 = pd.DataFrame(inaoi4326)    
    con.sql("CREATE OR REPLACE TABLE aoi4326 AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM inaoi4326")

In [4]:
'''
Read in hucs partitioned to huc2/huc4 level that overlap with the aoi.  Don't clip hucs
'''
con.sql("SET azure_storage_connection_string = 'DefaultEndpointsProtocol=https;AccountName=giscog;EndpointSuffix=core.windows.net';")
con.sql(f"""
CREATE OR REPLACE TABLE huc12 AS
SELECT LEFT(huc12,2) AS huc2,LEFT(huc12,4) AS huc4, huc12, areaacres, huc.geometry
FROM (SELECT huc12, areaacres, geometry FROM read_parquet('azure://abdu/huc/**/*.parquet')
WHERE CAST(LEFT(huc12,2) AS INTEGER)<=12) AS huc
JOIN aoi5070 ON 
ST_Intersects(ST_GeomFromWKB(huc.geometry), ST_GeomFromText(aoi5070.geometry))
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [5]:
%%time
hucs = con.sql("select huc4 from huc12 GROUP BY huc4").df().values.tolist()
hucs = sorted([item for items in hucs for item in items])
print(hucs)
'''
Clip wetlands that aren't riverine to the hucs selected by the aoi.
'''
con.sql("""
CREATE OR REPLACE TABLE wetlands AS
SELECT ATTRIBUTE, huc12.geometry
FROM (SELECT ATTRIBUTE, geometry FROM read_parquet('azure://abdu/nwi/**/*.parquet')
WHERE huc4 IN {0} AND WETLAND_TYPE != 'Riverine') AS wetlnd
JOIN huc12 ON 
ST_Intersects(ST_GeomFromWKB(wetlnd.geometry), ST_GeomFromWKB(huc12.geometry))
""".format(tuple(hucs)))

['0801', '0802']

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [6]:
'''
Clip wetlands that aren't riverine to the hucs selected by the aoi.
'''
selectstring = """CREATE OR REPLACE TABLE wetlands AS
SELECT ATTRIBUTE,huc2, huc4, ST_AsText(ST_Intersection(ST_GeomFromWKB(wetlnd.geometry), ST_GeomFromWKB(huc12.geometry))) as geometry
FROM (SELECT ATTRIBUTE, geometry FROM read_parquet('azure://abdu/nwi/**/*.parquet') 
WHERE WETLAND_TYPE != 'Riverine' AND huc4 IN {0}) AS wetlnd
JOIN huc12 ON 
ST_Intersects(ST_GeomFromWKB(wetlnd.geometry), ST_GeomFromWKB(huc12.geometry))
""".format(tuple(hucs))
con.sql(selectstring)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [7]:
'''
Read in demand clipped by hucs
'''
con.sql(f"""
CREATE OR REPLACE TABLE demandfull AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(read_parquet.geometry)) as geometry
FROM read_parquet('azure://abdu/Demand9Species.parquet')
JOIN aoi5070 ON 
ST_Intersects(ST_GeomFromWKB(read_parquet.geometry), ST_GeomFromText(aoi5070.geometry))
""")
con.sql(f"""
CREATE OR REPLACE TABLE demand AS SELECT * EXCLUDE geometry, ST_AsText(ST_Intersection(ST_GeomFromWKB(huc12.geometry), ST_GeomFromWKB(read_parquet.geometry))) as geometry
FROM read_parquet('azure://abdu/Demand9Species.parquet')
JOIN huc12 ON 
ST_Intersects(ST_GeomFromWKB(huc12.geometry), ST_GeomFromWKB(read_parquet.geometry))
""")
'''
Read in demand clipped by hucs
'''

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

'\nRead in demand clipped by hucs\n'

In [8]:
'''
Read in PADUS
'''
con.sql("""
CREATE OR REPLACE TABLE protected AS 
SELECT CATEGORY, huc2, huc4, ST_AsText(ST_Intersection(ST_GeomFromWKB(huc12.geometry), ST_GeomFromWKB(prot.geometry))) as geometry
FROM (SELECT CATEGORY, geometry FROM read_parquet('azure://abdu/padus/**/*.parquet')
WHERE CATEGORY IN ('Fee', 'Easements', 'Other') AND huc4 IN {0}) AS prot
JOIN huc12 ON 
ST_Intersects(ST_GeomFromWKB(huc12.geometry), ST_GeomFromWKB(prot.geometry))
""".format(tuple(hucs)))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [9]:
'''
Read in NLCD clipped to hucs
'''
with rasterio.open('https://giscog.blob.core.windows.net/newcontainer/nlcd2019_cog.tif') as src:
    # Clip the raster to the geometry of the shapefile
    clipped_data, transform = mask.mask(src, inaoigpd.geometry, crop=True)

clipped_data[clipped_data>23]=0
clipped_data[clipped_data<21]=0
clipped_data[clipped_data==21]=1
clipped_data[clipped_data==22]=1
clipped_data[clipped_data==23]=1
shapes = rasterio.features.shapes(clipped_data[0], transform=transform, mask=clipped_data[0] == 1)
# Create a GeoDataFrame from the vector polygons
gdf_vector = gpd.GeoDataFrame({'geometry': [shape(geom) for geom, value in shapes]})
gdf_vector['geometry'] = gdf_vector.to_wkb().geometry
con.sql("CREATE OR REPLACE TABLE urban AS SELECT * EXCLUDE geometry, ST_AsText(ST_GeomFromWKB(geometry)) AS geometry FROM gdf_vector")

In [10]:
'''
Import wetland crossclass data and assign classes to the nwi table
'''
con.sql("""CREATE OR REPLACE TABLE crossnwi AS (UNPIVOT (FROM (SELECT * FROM read_json_auto('aoiWetland.json', maximum_object_size=100000000))) ON COLUMNS(*))""")
con.sql("""CREATE OR REPLACE TABLE crossnwi AS SELECT name, UNNEST(value) AS value FROM crossnwi""")
con.sql("""CREATE OR REPLACE TABLE wetlands AS
SELECT name, geometry FROM (SELECT * FROM wetlands) AS wetselect
LEFT JOIN crossnwi ON wetselect.ATTRIBUTE LIKE crossnwi.value
""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [11]:
'''
#################################
End of data import
Starting model process
#################################
'''
#### Prepping energy - Join energy to nwi.  Need to create the spatial kcal table first. What's the best way to do this?
# parquet is the best to read in but it's not easily editable.  Rest service would be ok but again, not great because
# reading those is difficult.  I wonder if

'\n#################################\nEnd of data import\nStarting model process\n#################################\n'

In [12]:
'''
Demand
######
Intersect with huc12
Done in cell above.
######
'''
#
#con.sql("""CREATE OR REPLACE TABLE newdemand AS SELECT fips, huc12, CODE, LTADUD, ST_Area(geometry)*0.0001 AS ha, geometry FROM (
#SELECT fips, huc12.huc12, CODE, LTADUD, LTADemand, LTAPopObj, x80DUD, X80Demand, X80PopObj, ST_Intersection(ST_GeomFromText(demand.geometry), ST_GeomFromWKB(huc12.geometry)) as geometry FROM demand
#JOIN huc12 ON ST_Intersects(ST_GeomFromText(demand.geometry), ST_GeomFromWKB(huc12.geometry))
#WHERE species='All'
#)
#""")
con.sql("""COPY (SELECT * EXCLUDE geometry, ST_AsWKB(geometry) as geometry FROM newdemand) TO 'newdemand.parquet' (FORMAT PARQUET)""")

In [14]:
# Need to sum energy within fips
# steps dissolve demand by fips selection.
# calculate area by intersection and multiply by kcal to get energy

con.sql("""
CREATE OR REPLACE TABLE demandfull AS SELECT DISTINCT fips, ST_Union_Agg(ST_GeomFromText(geometry)) as geometry from demandfull
group by fips
""")
fullfips = con.sql("""SELECT fips from demandfull""").df().values.tolist()
fullfips

[['05093']]

In [15]:
'''
Clip wetlands that aren't riverine to the hucs selected by the aoi.
'''
tmp = pd.DataFrame()
for fip in fullfips:
    selectstring = """
    CREATE OR REPLACE table tmpwet AS
    (
    SELECT ATTRIBUTE,fips, ST_AsText(ST_Intersection(ST_GeomFromWKB(wetlnd.geometry), dmd.geometry)) as geometry
    FROM (SELECT ATTRIBUTE, geometry FROM read_parquet('azure://abdu/nwi/**/*.parquet')
    WHERE WETLAND_TYPE != 'Riverine') AS wetlnd
    JOIN (SELECT fips, geometry FROM demandfull WHERE fips='{0}') as dmd ON 
    ST_Intersects(ST_GeomFromWKB(wetlnd.geometry), dmd.geometry)
    )
    """.format(fip[0])
    con.sql(selectstring)
    con.sql("""CREATE OR REPLACE TABLE crossnwi AS (UNPIVOT (FROM (SELECT * FROM read_json_auto('aoiWetland.json', maximum_object_size=100000000))) ON COLUMNS(*))""")
    con.sql("""CREATE OR REPLACE TABLE crossnwi AS SELECT name, UNNEST(value) AS value FROM crossnwi""")
    con.sql("""CREATE OR REPLACE TABLE tmpwet AS
    SELECT name, fips, geometry FROM (SELECT * FROM tmpwet) AS wetselect
    LEFT JOIN crossnwi ON wetselect.ATTRIBUTE LIKE crossnwi.value
    """)
    con.sql(f"""CREATE OR REPLACE TABLE tmpwet AS
    (SELECT replace(tmpwet.name, '_', '') AS name, fips, geometry, kcal FROM tmpwet
    LEFT JOIN read_csv_auto('azure://abdu/kcal.csv') ON replace(tmpwet.name, '_', '') = read_csv_auto.habitatType
    WHERE tmpwet.name IS NOT NULL)
    """)
    con.sql("""CREATE OR REPLACE TABLE newdata AS (
    SELECT name, fips, kcal, ST_Area(geometry)*0.0001 AS ha, ha*kcal AS avalNrgy FROM(
    SELECT name, fips, kcal, ST_Union_Agg(ST_GeomFromText(geometry)) AS geometry FROM tmpwet
    GROUP BY name, fips, kcal))
    """)
    final = con.sql("SELECT fips, SUM(avalNrgy) from newdata GROUP BY fips").df()
    tmp = pd.concat([tmp, final])
tmp

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

    fips  sum(avalNrgy)
0  05093   4.343587e+09

In [16]:
con.sql("""DESCRIBE SELECT * FROM tmp""")
con.sql("""CREATE OR REPLACE TABLE fipsavalNRG AS SELECT fips, "sum(avalNrgy)" as fipsnrgysum from tmp""")
con.sql("""select * from fipsavalNRG""")

┌─────────┬───────────────────┐
│  fips   │    fipsnrgysum    │
│ varchar │      double       │
├─────────┼───────────────────┤
│ 05093   │ 4343586557.220323 │
└─────────┴───────────────────┘

In [17]:
'''
Energy availability

######
Read in kcal.csv from azure and join to wetlands.
This file is the habitat type (habitatType) and the kcal/Ha (kcal)
######
'''
#
con.sql(f"""CREATE OR REPLACE TABLE wetlands AS
(SELECT replace(wetlands.name, '_', '') AS name, geometry, kcal FROM wetlands
LEFT JOIN read_csv_auto('azure://abdu/kcal.csv') ON replace(wetlands.name, '_', '') = read_csv_auto.habitatType
WHERE wetlands.name IS NOT NULL)
""")

In [18]:
con.sql("""CREATE OR REPLACE TABLE hucdemandenergy AS 
    (SELECT name,fips, kcal, ST_Intersection(ST_GeomFromText(wetlands.geometry), ST_GeomFromText(demand.geometry)) as geometry FROM wetlands
    JOIN demand ON ST_Intersects(ST_GeomFromText(wetlands.geometry), ST_GeomFromText(demand.geometry)))""")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [19]:
'''
######
Calculate available energy (avalNrgy) of wetlands by calculating area in Hectares (HA) and multiplying by kcal.
Select only distinct rows.
Create new table habitatenergy
######
'''
#
con.sql("""CREATE OR REPLACE TABLE hucdemandenergy AS (SELECT DISTINCT name, fips, geometry, ST_Area(geometry)*0.0001 AS ha,kcal, ha*kcal AS avalNrgy FROM hucdemandenergy)""")
# DATA CHECK
# con.sql("""COPY (SELECT DISTINCT name, ST_AsWKB(ST_GeomFromText(geometry)) as geometry, ST_Area(ST_GeomFromText(geometry))*0.0001 AS ha, ha*kcal AS avalNrgy FROM wetlands) TO 'testwetland.parquet' (FORMAT PARQUET)""")

In [20]:
con.sql("""CREATE OR REPLACE TABLE test AS (select hucdemandenergy.fips, avalNrgy, fipsnrgysum, (hucdemandenergy.avalNrgy/fipsavalNRG.fipsnrgysum) as pct from hucdemandenergy
    JOIN fipsavalNRG on hucdemandenergy.fips = fipsavalNRG.fips
    GROUP BY hucdemandenergy.fips, avalNrgy, fipsnrgysum)""")

In [26]:
con.sql("""select * from hucdemandenergy""")

┌──────────────────────┬─────────┬───────────────────────────┬───────────────────────┬────────┬────────────────────────┐
│         name         │  fips   │         geometry          │          ha           │  kcal  │        avalNrgy        │
│       varchar        │ varchar │         geometry          │        double         │ int64  │         double         │
├──────────────────────┼─────────┼───────────────────────────┼───────────────────────┼────────┼────────────────────────┤
│ FreshwaterWoody      │ 29155   │ POLYGON ((559182.070341…  │ 0.0004973396364774305 │ 238961 │     118.84477687228328 │
│ FreshwaterWoody      │ 29069   │ POLYGON ((533597.212200…  │    1.1935644744728964 │ 238961 │      285215.3603845178 │
│ FreshMarsh           │ 29069   │ POLYGON ((533264.894799…  │   0.36037225124964684 │ 347006 │     125051.33341713496 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((533530.537000…  │    0.1043685603459937 │ 238961 │        24940.015548839 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((531313.664799…  │    0.2922292960152095 │ 238961 │      69831.40480509048 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((530791.108800…  │   0.06000778631608719 │ 238961 │     14339.520625878511 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((531037.286400…  │     3.040226263599676 │ 238961 │      726495.5081760421 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((530949.501699…  │   0.44689659742084553 │ 238961 │     106790.85781628267 │
│ FreshwaterWoody      │ 05093   │ MULTILINESTRING ((55097…  │                   0.0 │ 238961 │                    0.0 │
│ FreshMarsh           │ 05093   │ POLYGON ((533340.556099…  │   0.03096327134299824 │ 347006 │     10744.440935648448 │
│     ·                │   ·     │             ·             │             ·         │    ·   │              ·         │
│     ·                │   ·     │             ·             │             ·         │    ·   │              ·         │
│     ·                │   ·     │             ·             │             ·         │    ·   │              ·         │
│ DeepwaterFresh       │ 05093   │ POLYGON ((550098.085499…  │    14.722910043162297 │  61629 │      907358.2230500493 │
│ FreshwaterWoody      │ 47097   │ MULTIPOLYGON (((548217.…  │     59.90662763907769 │ 238961 │     14315347.647261644 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((550029.505899…  │     43.15064126082349 │ 238961 │     10311320.386327643 │
│ FreshShallowOpenWa…  │ 05093   │ POLYGON ((550359.579100…  │     5.311816112664425 │  61629 │     327361.91520739585 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((548953.282200…  │    15.319071541503975 │ 238961 │     3660660.6546293315 │
│ FreshwaterWoody      │ 05093   │ POLYGON ((549983.255300…  │    12.364463505041536 │ 238961 │     2954624.5636282307 │
│ FreshShallowOpenWa…  │ 05093   │ POLYGON ((550202.070500…  │    1.5471478676602455 │  61629 │      95349.17593603327 │
│ FreshwaterWoody      │ 05093   │ LINESTRING (548424.5659…  │                   0.0 │ 238961 │                    0.0 │
│ FreshwaterWoody      │ 47097   │ POLYGON ((550327.171100…  │     2.888283173265079 │ 238961 │      690187.0353665965 │
│ FreshwaterWoody      │ 05111   │ GEOMETRYCOLLECTION (LIN…  │ 7.287059844429679e-15 │ 238961 │ 1.7413231074847604e-09 │
├──────────────────────┴─────────┴───────────────────────────┴───────────────────────┴────────┴────────────────────────┤
│ 596 rows (20 shown)                                                                                        6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [25]:
con.sql("""select * from test""")

┌─────────┬────────────────────┬───────────────────┬────────────────────────┐
│  fips   │      avalNrgy      │    fipsnrgysum    │          pct           │
│ varchar │       double       │      double       │         double         │
├─────────┼────────────────────┼───────────────────┼────────────────────────┤
│ 05093   │ 3021386.9976664656 │ 4343586557.220323 │  0.0006955972806951501 │
│ 05093   │  90242.39760988954 │ 4343586557.220323 │  2.077600996804819e-05 │
│ 05093   │  811373.5715083635 │ 4343586557.220323 │ 0.00018679806671738155 │
│ 05093   │   9644758.81293934 │ 4343586557.220323 │  0.0022204596790886795 │
│ 05093   │ 101553.60459298066 │ 4343586557.220323 │ 2.3380126827257213e-05 │
│ 05093   │ 17498.685100249953 │ 4343586557.220323 │  4.028625853250691e-06 │
│ 05093   │ 275627.02275598346 │ 4343586557.220323 │  6.345609075012216e-05 │
│ 05093   │ 20622220.149292067 │ 4343586557.220323 │   0.004747740116980483 │
│ 05093   │ 172144.12849082804 │ 4343586557.220323 │ 3.9631794191984896e-05 │
│ 05093   │  371107.1016108691 │ 4343586557.220323 │   8.54379432116944e-05 │
│   ·     │          ·         │         ·         │             ·          │
│   ·     │          ·         │         ·         │             ·          │
│   ·     │          ·         │         ·         │             ·          │
│ 05093   │  2854309.151491027 │ 4343586557.220323 │  0.0006571318687655304 │
│ 05093   │ 430.74062819459175 │ 4343586557.220323 │   9.91670414576115e-08 │
│ 05093   │    92818.098323998 │ 4343586557.220323 │  2.136899935140165e-05 │
│ 05093   │  75179.56743147106 │ 4343586557.220323 │ 1.7308177571942347e-05 │
│ 05093   │ 29134.360244191386 │ 4343586557.220323 │   6.70744322931967e-06 │
│ 05093   │ 1284061.6044035626 │ 4343586557.220323 │ 0.00029562242802991305 │
│ 05093   │  794804.1600744856 │ 4343586557.220323 │ 0.00018298338242006172 │
│ 05093   │  85152.33790255652 │ 4343586557.220323 │ 1.9604153567748803e-05 │
│ 05093   │   1714416.51035089 │ 4343586557.220323 │  0.0003947006667798582 │
│ 05093   │  978598.9391151746 │ 4343586557.220323 │  0.0002252974416933063 │
├─────────┴────────────────────┴───────────────────┴────────────────────────┤
│ 338 rows (20 shown)                                             4 columns │
└───────────────────────────────────────────────────────────────────────────┘

In [22]:
'''
######
Intersect with huc12, union geometry by name/huc12/kcal, calculate area (ha), and avalNrgy of each
######
'''
#
con.sql("""
CREATE OR REPLACE TABLE soup AS SELECT name, huc12, kcal, ST_Area(geometry)*0.0001 AS ha, ha*kcal AS avalNrgy, geometry FROM (
SELECT name, huc12, kcal, ST_Intersection(ST_GeomFromText(habitatenergy.geometry), ST_GeomFromWKB(huc12.geometry)) as geometry from habitatenergy
JOIN huc12 ON ST_Intersects(ST_GeomFromText(habitatenergy.geometry), ST_GeomFromWKB(huc12.geometry)))
""")
#
con.sql("""CREATE OR REPLACE TABLE soup AS (
SELECT name, huc12, kcal, ST_Area(geometry)*0.0001 AS ha, ha*kcal AS avalNrgy, geometry FROM(
SELECT name, huc12, kcal, ST_Union_Agg(geometry) AS geometry FROM soup
GROUP BY name, huc12, kcal))
""")

CatalogException: Catalog Error: Table with name habitatenergy does not exist!
Did you mean "hucdemandenergy"?

In [35]:
con.sql("""select * from test""")

┌─────────┬────────────────────┬───────────────────┬────────────────────────┐
│  fips   │      avalNrgy      │    fipsnrgysum    │          pct           │
│ varchar │       double       │      double       │         double         │
├─────────┼────────────────────┼───────────────────┼────────────────────────┤
│ 05093   │ 3021386.9976664656 │ 4343586557.220323 │  0.0006955972806951501 │
│ 05093   │  90242.39760988954 │ 4343586557.220323 │  2.077600996804819e-05 │
│ 05093   │  811373.5715083635 │ 4343586557.220323 │ 0.00018679806671738155 │
│ 05093   │   9644758.81293934 │ 4343586557.220323 │  0.0022204596790886795 │
│ 05093   │ 101553.60459298066 │ 4343586557.220323 │ 2.3380126827257213e-05 │
│ 05093   │ 17498.685100249953 │ 4343586557.220323 │  4.028625853250691e-06 │
│ 05093   │ 275627.02275598346 │ 4343586557.220323 │  6.345609075012216e-05 │
│ 05093   │ 20622220.149292067 │ 4343586557.220323 │   0.004747740116980483 │
│ 05093   │ 172144.12849082804 │ 4343586557.220323 │ 3.9631794191984896e-05 │
│ 05093   │  371107.1016108691 │ 4343586557.220323 │   8.54379432116944e-05 │
│   ·     │          ·         │         ·         │             ·          │
│   ·     │          ·         │         ·         │             ·          │
│   ·     │          ·         │         ·         │             ·          │
│ 05093   │  2854309.151491027 │ 4343586557.220323 │  0.0006571318687655304 │
│ 05093   │ 430.74062819459175 │ 4343586557.220323 │   9.91670414576115e-08 │
│ 05093   │    92818.098323998 │ 4343586557.220323 │  2.136899935140165e-05 │
│ 05093   │  75179.56743147106 │ 4343586557.220323 │ 1.7308177571942347e-05 │
│ 05093   │ 29134.360244191386 │ 4343586557.220323 │   6.70744322931967e-06 │
│ 05093   │ 1284061.6044035626 │ 4343586557.220323 │ 0.00029562242802991305 │
│ 05093   │  794804.1600744856 │ 4343586557.220323 │ 0.00018298338242006172 │
│ 05093   │  85152.33790255652 │ 4343586557.220323 │ 1.9604153567748803e-05 │
│ 05093   │   1714416.51035089 │ 4343586557.220323 │  0.0003947006667798582 │
│ 05093   │  978598.9391151746 │ 4343586557.220323 │  0.0002252974416933063 │
├─────────┴────────────────────┴───────────────────┴────────────────────────┤
│ 338 rows (20 shown)                                             4 columns │
└───────────────────────────────────────────────────────────────────────────┘

In [27]:
con.sql("""COPY (SELECT * EXCLUDE geometry, ST_AsWKB(geometry) as geometry FROM hucdemandenergy) TO 'hucdemandenergy.parquet' (FORMAT PARQUET)""")